<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href = "../static/css/style.css"
</head>
<body>
    <Section>
        <nav class="navbar fixed-top navbar-expand-lg ">
            <a class="navbar-brand" href="#">
                <img src="logo.jpg" alt="" width="40" height="40" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">About</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn my-2 my-sm-0 loginbtn" type="button">login</button>
            </div>
        </nav>
    </Section>
    <Section class="urgy_helpy">
        <div class="container">
            <div class="row">
                <div class="col-sm urgy_helpy">
                <h1><center> Urgent Help </center></h1>
                <h5><center> If you need urgent help, there are resources available for you.</center></h5>
                </div>
            </div>
        </div>
                </section>
</body>
</html>